---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="hello there">
  <main>
    <section class="flex justify-center items-center">
      <Header />
    </section>
  </main>
</Layout>
