---

---

<main
  class="min-h-[75vh] min-w-[90vw] border-b-[4px] border-black bg-[#8c5be4]"
>
  <section class="my-6 flex items-center justify-center">
    <nav
      class="flex w-[55%] items-center justify-between gap-2 border-[3px] border-black bg-[#ffd567] px-40 py-4 text-xs"
    >
      <a href="#home">My Story</a>
      <a href="#work">My Projects</a>
      <a href="#contact">Reach Out</a>
    </nav>
  </section>
  <section class="flex flex-col items-center justify-center">
    <div
      class="shadow-bottom-right flex min-h-[55vh] w-[55%] flex-col items-center justify-center border-[3px] border-black bg-white"
    >
      <div class="text-3xl font-bold">&lt;Hey there /&gt;</div>
      <div class="text-xl">
        &#123; Welcome to my little corner on the internet &#125;
      </div>
    </div>
  </section>
</main>

<style>
  .shadow-bottom-right {
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
  }
</style>
