---

---

<main
  class="flex min-h-[80vh] max-w-[90vw] items-center justify-center border-b-[4px] border-black bg-[#ff9aa2]"
>
  <section class="flex flex-row items-center justify-center gap-[3rem]">
    <div class="flex w-[32%] flex-col gap-2">
      <div class="text-4xl font-bold">Glad you’re here</div>
      <div class="text-sm font-normal">
        Hey world, I'm Prathamesh, your friendly neighborhood full-stack wizard!
        🧙‍♂️ Whether it's debugging code or conjuring up creative solutions, I'm
        your go-to guy! With a curious mind and a passion for problem-solving,
        I'm like a kid in a candy store when it comes to tackling challenges.
        So, buckle up and join me on this epic coding adventure where bugs don't
        stand a chance and every error is just another opportunity to sprinkle
        some coding magic! ✨🚀
      </div>
    </div>
    <div
      class="shadow-bottom-right flex h-[40vh] flex-col items-center justify-center gap-2 border-[3px] border-black bg-white p-2"
    >
      <div class="text-red-500">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-circle-x"
          ><circle cx="12" cy="12" r="10"></circle><path d="m15 9-6 6"
          ></path><path d="m9 9 6 6"></path></svg
        >
      </div>
      <div class="text-xs text-red-500">see me in the interview ;)</div>
    </div>
  </section>
</main>

<style>
  .shadow-bottom-right {
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
  }
</style>
